

body {
    margin: auto 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #808080;
}

nav {
color: black;
border-bottom: 2px solid black;
/*margin-left: 10px;*/


}
.menu {
    display: flex;
    list-style: none;
    font-size: 2em;
    /*margin: 0 10px 0 0;*/
    line-height: 100%;
}

.grudento {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 10px 0 10px;
}

.botao-contato {
    margin-left: auto;
  /*  margin-right: 10px;*/
}


a {
    color: #333333;
    text-decoration: underline;
}

.menu a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}



/* COVER */
/*fiz essa loucura com o padding, mas se eu nao usar link tags, lembra de consertar*/

.container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 90vh;
    padding-top: 10vh;
}

.capa {
   transition: all 0.5s linear;
   border-bottom: 1px solid black;
}

.textao {
    padding: 10px;
     font-size: 4em;
     line-height: 100%;

}

.boldim {
    font-weight: 700;
     line-height: 100%;
   
}

.mini {
    font-size: 0.5em;
    font-weight: 400;
    font-style: italic;
    line-height: 100%;


}

/* INFOS */


.embrulho-infos {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1.001fr 3fr;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

}

.titulo {
font-size: 2em;
margin: 0;
padding: 5px 0 0 10px;
border-right: 2px solid black;
line-height: 105%;


}
.infos {
font-size: 1.2em;
padding: 5px;
background-color: #808080;


}


/* GRID */

.embrulho-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

}


img {
    width: 100%;
height: 100%;
    background-color: 333333;
    object-fit: contain;
}

video {
      width: 100%;
  height: auto;
}

.topo {
        align-self: flex-start;
}

.box {
    border: 2px solid black;
    margin: -2px -2px 0 0;
    background-color: #808080;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.dupla {
    grid-column-end: span 2;
}

.alta {
    grid-row-end: span 2;
}

.altona {
    grid-row-end: span 3;
}

.quadrado {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.green{
    background: #56B870;

}


/*-------------------------------
    CELULARES E TELAS PEQUENAS
--------------------------------*/

@media only screen and (max-width: 900px)
        and (orientation: portrait){
        .menu {
            font-size: 1.6em;

        }

        li {
    padding: 5px 10px 0 10px;
 }
}


@media only screen and (max-width: 900px)
        and (orientation: portrait){


}



