

body {
    margin: auto 0;
    font-family: 'DM Sans', sans-serif;
}

nav {
color: black;
border-bottom: 2px solid black;
/*margin-left: 10px;*/


}
.menu {
    display: flex;
    list-style: none;
    font-size: 2em;
    /*margin: 0 10px 0 0;*/
    line-height: 100%;
}

.grudento {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 10px 0 10px;
}

.botao-contato {
    margin-left: auto;
  /*  margin-right: 10px;*/
}


a {
    color: #0066be;
    text-decoration: underline;
}

.menu a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}



/* COVER */
/*fiz essa loucura com o padding, mas se eu nao usar link tags, lembra de consertar*/

.container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 90vh;
    padding-top: 10vh;
}

.textao {
    margin: 10px;
}



/* GRID */

.embrulho-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}


.box > img {
    width: 100%;
    height: auto;
}

.box {
    background-color: grey;
}

.dupla {
    grid-column-end: span 2;
}

.alta {
    grid-row-end: span 2;
}


/*.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
/*    min-width: 100%;*/
/*    min-height: 100%*/


.zone {
    color:#FFF;
    font-size:2em;
    border:2px solid black;
    transition: all 1s linear;
}

.green{
    background: #56B870;
}

.red{
    background: #C655BE;
}

.yellow{
    background: #F3AAAA;
}

.blue{
    background: #7abcff
}


/*-------------------------------
    CELULARES E TELAS PEQUENAS
--------------------------------*/

@media only screen and (max-width: 900px)
        and (orientation: portrait){
        .menu {
            font-size: 1.6em;

        }

        li {
    padding: 5px 10px 0 10px;
 }
}


@media only screen and (max-width: 900px)
        and (orientation: portrait){


}



